<div class="container-fluid p-5 w-100 expand-lg ">
    <div class="row  ">
        <div class="col-md-4">
            <h1>LOCATION</h1>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4 ">
            <h1>AROUND THE WEB</h1>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-solid fa-globe"></i>
            </div>
         
        </div>
    
        <div class="col-md-4">
            <h1>ABOUT FREELANCER</h1>
            <p>Freelance is a free to use, licensed Bootstrap theme created</p>
            <p>by Route</p>
        </div>

    </div>
</div>
<div class="end">
    <p>Copyright © Your Website 2021</p>
</div>