

<div class="container">
        <div class="row">
                <h1 class="text-center fa-3x p-3 m-3 text-black fw-bold ">CONATCT SECTION</h1>
                <div _ngcontent-alb-c6="" class="d-flex align-items-center justify-content-center mb-3">
                        <div _ngcontent-alb-c6="" class="line me-3" style="background-color: rgb(44, 62, 80);"></div><i
                            _ngcontent-alb-c6="" class="fa-solid fa-star"></i>
                        <div _ngcontent-alb-c6="" class="line ms-3" style="background-color: rgb(44, 62, 80);"></div>
                    </div>
        </div>
        <form _ngcontent-cyw-c16="" novalidate="" action="" class="w-75 p-3 mx-auto mt-5 ng-pristine ng-valid ng-touched"><label
                _ngcontent-cyw-c16="" for="userName" class="position-relative top-0 __top"> </label><input
                _ngcontent-cyw-c16="" id="userName" type="text" placeholder="userName" name="userName"
                class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"><label
                _ngcontent-cyw-c16="" for="userAge" class="position-relative top-0 __top"> </label><input
                _ngcontent-cyw-c16="" id="userAge" type="text" placeholder="userAge" name="userName"
                class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"><label
                _ngcontent-cyw-c16="" for="userEmail" class="position-relative top-0 __top"> </label><input
                _ngcontent-cyw-c16="" id="userEmail" type="text" placeholder="userEmail" name="userName"
                class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"><label
                _ngcontent-cyw-c16="" for="userPassword" class="position-relative top-0 __top"> </label><input
                _ngcontent-cyw-c16="" id="userPassword" type="text" placeholder="userPassword" name="userName"
                class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched">
               <button class="btn btn text-light ">send Message</button>
        </form>
</div>
