<div class="">
    <h1 class="text-center fa-3x p-3 m-3 text-black fw-bold">PORTFOLIO COMPONENT</h1>
    <div _ngcontent-alb-c6="" class="d-flex align-items-center justify-content-center mb-3">
        <div _ngcontent-alb-c6="" class="line me-3" style="background-color: rgb(44, 62, 80);"></div><i
            _ngcontent-alb-c6="" class="fa-solid fa-star"></i>
        <div _ngcontent-alb-c6="" class="line ms-3" style="background-color: rgb(44, 62, 80);"></div>
    </div>
    <div class="row  ">
        <div class="col-md-4 p-3">
            <div _ngcontent-fcj-c19="" class="rounded-3 overflow-hidden position-relative"><img _ngcontent-fcj-c19=""
                    alt="" class="w-100 rounded-3" src="../../assets/image/poert1.png">
                <div _ngcontent-fcj-c19=""
                    class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                    <i _ngcontent-fcj-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div _ngcontent-fcj-c19="" class="rounded-3 overflow-hidden position-relative"><img _ngcontent-fcj-c19=""
                    alt="" class="w-100 rounded-3" src="../../assets/image/port2.png">
                <div _ngcontent-fcj-c19=""
                    class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                    <i _ngcontent-fcj-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div _ngcontent-fcj-c19="" class="rounded-3 overflow-hidden position-relative"><img _ngcontent-fcj-c19=""
                    alt="" class="w-100 rounded-3" src="../../assets/image/port3.png">
                <div _ngcontent-fcj-c19=""
                    class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                    <i _ngcontent-fcj-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
        </div>


        <div class="col-md-4 p-3">
            <div _ngcontent-fcj-c19="" class="rounded-3 overflow-hidden position-relative"><img _ngcontent-fcj-c19=""
                    alt="" class="w-100 rounded-3" src="../../assets/image/poert1.png">
                <div _ngcontent-fcj-c19=""
                    class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                    <i _ngcontent-fcj-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div _ngcontent-fcj-c19="" class="rounded-3 overflow-hidden position-relative"><img _ngcontent-fcj-c19=""
                    alt="" class="w-100 rounded-3" src="../../assets/image/port2.png">
                <div _ngcontent-fcj-c19=""
                    class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                    <i _ngcontent-fcj-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 p-3">
            <div _ngcontent-fcj-c19="" class="rounded-3 overflow-hidden position-relative"><img _ngcontent-fcj-c19=""
                    alt="" class="w-100 rounded-3" src="../../assets/image/port3.png">
                <div _ngcontent-fcj-c19=""
                    class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                    <i _ngcontent-fcj-c19="" class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
            </div>
        </div>


    </div>